/* Including styles files */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");
.icon-crest {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 138px;
  height: 100px; }

.icon-facebook {
  background-image: url(../../img/sprite.png);
  background-position: -138px -51px;
  width: 31px;
  height: 31px; }

.icon-heart {
  background-image: url(../../img/sprite.png);
  background-position: -138px 0px;
  width: 51px;
  height: 51px; }

.icon-instagram {
  background-image: url(../../img/sprite.png);
  background-position: 0px -100px;
  width: 31px;
  height: 30px; }

.icon-linkedin {
  background-image: url(../../img/sprite.png);
  background-position: -31px -100px;
  width: 31px;
  height: 30px; }

.icon-metro {
  background-image: url(../../img/sprite.png);
  background-position: -138px -82px;
  width: 25px;
  height: 16px; }

.icon-twitter {
  background-image: url(../../img/sprite.png);
  background-position: -62px -100px;
  width: 31px;
  height: 30px; }

.icon-youtube {
  background-image: url(../../img/sprite.png);
  background-position: -93px -100px;
  width: 31px;
  height: 30px; }

/* Including fonts */
@font-face {
  src: url("../../fonts/TTPines-Light.otf");
  font-family: 'TT Pines';
  font-weight: 300; }

@font-face {
  src: url("../../fonts/TTPines-Regular.otf");
  font-family: 'TT Pines';
  font-weight: 400; }

@font-face {
  src: url("../../fonts/TTPines-Italic.otf");
  font-family: 'TT Pines';
  font-weight: 400;
  font-style: italic; }

@font-face {
  src: url("../../fonts/TTPines-Bold.otf");
  font-family: 'TT Pines';
  font-weight: 700; }

@font-face {
  src: url("../../fonts/TTPines-Black.otf");
  font-family: 'TT Pines';
  font-weight: 900; }

/* Global settings */
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 20px;
  font-family: "TT Pines", sans-serif;
  color: #000;
  background: white; }

header, nav, main, section, article, aside, footer, li, .block {
  display: block; }

.inline-block {
  display: inline-block; }

.hidden {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  display: inline;
  font-size: inherit;
  font-weight: inherit; }

ul {
  font-size: 0; }
  ul li {
    display: inline-block;
    font-size: 20px;
    list-style-type: none; }

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: .3s;
  transition: .3s; }

img {
  display: block; }

.icon {
  display: inline-block;
  vertical-align: middle; }

.text, .button, .slick-slide, .area {
  outline: none; }

/* Grid */
.container {
  position: relative;
  width: 1245px;
  padding-left: 15px;
  padding-right: 15px; }

.row:before, .row:after, .clearfix:before, .clearfix:after {
  display: table;
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.row:after, .clearfix:after {
  clear: both; }

.row_line {
  text-align: center;
  font-size: 0; }

.col {
  min-height: 1px;
  float: left;
  display: block; }
  .col_line {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    min-height: 1px; }
  .col-1 {
    width: 100%; }
  .col-2 {
    width: 50%; }
  .col-3 {
    width: 33.33333%; }
  .col-4 {
    width: 25%; }
  .col-5 {
    width: 20%; }

.title {
  font-size: 50px;
  line-height: 66px;
  text-align: center;
  text-transform: uppercase;
  color: #0d87f3;
  font-weight: 900; }

/* Form elements */
.text {
  display: block;
  font-size: 20px;
  font-family: "TT Pines", sans-serif;
  background: white;
  width: 100%; }
  .text::-webkit-input-placeholder {
    color: #878686; }
  .text::-moz-placeholder {
    color: #878686; }
  .text:-ms-input-placeholder {
    color: #878686; }
  .text::placeholder {
    color: #878686; }

.area {
  font-size: 20px;
  font-family: "TT Pines", sans-serif;
  display: block;
  background: white;
  resize: none;
  border: 1px solid #f0f0f0; }
  .area::-webkit-input-placeholder {
    color: #878686; }
  .area::-moz-placeholder {
    color: #878686; }
  .area:-ms-input-placeholder {
    color: #878686; }
  .area::placeholder {
    color: #878686; }

.button {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-family: "TT Pines", sans-serif;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: none;
  -webkit-box-shadow: 3px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 3px 4px 0 rgba(0, 0, 0, 0.25); }
  .button span {
    display: block;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    margin: 4px; }
  .button_red {
    background-color: #db0133;
    font-size: 25px; }
    .button_red span {
      color: #fff;
      padding: 11px 30px 9px;
      border: 1px solid rgba(255, 255, 255, 0.7); }
    .button_red:hover {
      background-color: #a80127; }
  .button_gray {
    font-size: 25px;
    background-color: #ebe9e9; }
    .button_gray span {
      color: #0d87f3;
      padding: 11px 30px 9px;
      border: 1px solid #0d87f3; }
    .button_gray:hover {
      background-color: #0d87f3; }
      .button_gray:hover span {
        color: white;
        border-color: white; }

.text, .area {
  -webkit-transition: border-color .3s;
  transition: border-color .3s; }

/* Blocks */
.left {
  float: left; }

.right {
  float: right; }

.center, .container {
  margin-left: auto;
  margin-right: auto; }

.panel {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 13px;
  padding-bottom: 13px; }
  .panel__btn {
    display: none;
    width: 40px;
    height: 28px;
    cursor: pointer; }
    .panel__btn span {
      position: relative;
      display: block;
      width: 100%;
      height: 4px;
      background: white;
      margin-bottom: 8px;
      -webkit-transition: .3s;
      transition: .3s; }
      .panel__btn span:last-of-type {
        margin-bottom: 0; }
    .panel__btn_toggle span:nth-of-type(1) {
      top: 12px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .panel__btn_toggle span:nth-of-type(2) {
      opacity: 0; }
    .panel__btn_toggle span:nth-of-type(3) {
      top: -12px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .panel__nav {
    color: white;
    margin-left: 110px;
    text-transform: uppercase;
    padding-top: 6px; }
    .panel__nav li {
      margin-right: 55px; }
      .panel__nav li:last-of-type {
        margin-right: 0; }
      .panel__nav li.selected a:before, .panel__nav li.selected a:after {
        width: 50%; }
      .panel__nav li:first-of-type {
        display: none; }
    .panel__nav a {
      display: block;
      position: relative;
      font-weight: 700;
      font-size: 16px; }
      .panel__nav a:before, .panel__nav a:after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background-color: #fff;
        bottom: -5px;
        -webkit-transition: .3s;
        transition: .3s; }
      .panel__nav a:before {
        left: 50%; }
      .panel__nav a:after {
        right: 50%; }
      .panel__nav a:hover:before, .panel__nav a:hover:after {
        width: 50%; }
  .panel__phone {
    float: right;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 24px;
    margin-right: 90px; }
  .panel a {
    color: white; }

.header {
  overflow: hidden; }
  .header_main {
    background: url("../../img/bg/header-main.png") no-repeat center top;
    min-height: 1795px;
    color: white; }
    .header_main .header__logo {
      margin-top: 38px;
      margin-left: 40px; }
    .header_main .header__address {
      margin-left: 120px;
      line-height: 24px;
      font-size: 0;
      margin-top: -25px; }
      .header_main .header__address span {
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        margin-left: 7px;
        font-family: "Roboto", sans-serif; }
    .header_main .header__right {
      padding-top: 115px;
      padding-right: 73px;
      text-align: center; }
    .header_main .header__button-desc {
      margin-top: 15px;
      font-size: 16px; }
    .header_main .header__girl {
      position: absolute;
      top: 165px;
      left: 355px;
      width: 982px;
      height: 391px; }
      .header_main .header__girl div {
        position: absolute; }
  .header_page {
    background: url("../../img/bg/header-page.png") no-repeat center top;
    min-height: 488px; }
    .header_page .header__logo {
      margin-top: 45px;
      margin-left: 40px;
      margin-right: -50px; }
    .header_page .header__text {
      margin-top: 50px;
      margin-right: 90px; }

.about {
  margin-top: -1050px; }
  .about__title {
    margin-left: 132px;
    margin-bottom: 65px; }
  .about__desc {
    font-size: 36px;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    max-width: 995px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px; }
  .about__line_middle, .about__line_bottom {
    margin-top: -54px; }
  .about__list {
    position: relative; }
    .about__list:before, .about__list:after {
      content: '';
      width: 120px;
      height: 1px;
      position: absolute;
      top: -40px; }
    .about__list:before {
      left: 50%;
      margin-left: -119px;
      background-color: #0d87f3;
      -webkit-transform: rotate(-12deg);
          -ms-transform: rotate(-12deg);
              transform: rotate(-12deg); }
    .about__list:after {
      right: 50%;
      margin-right: -119px;
      background-color: #033ca0;
      -webkit-transform: rotate(12deg);
          -ms-transform: rotate(12deg);
              transform: rotate(12deg); }
  .about__item {
    width: 25%;
    height: 347px;
    position: relative; }
    .about__item_full {
      width: 50%; }
      .about__item_full .about__subtitle {
        position: relative;
        color: #fff;
        font-size: 30px;
        line-height: 46px;
        max-width: 455px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 110px; }
        .about__item_full .about__subtitle:before, .about__item_full .about__subtitle:after {
          content: '';
          width: 120px;
          height: 1px;
          position: absolute;
          top: 65px; }
        .about__item_full .about__subtitle:before {
          left: 50%;
          margin-left: -119px;
          background-color: #ffffff;
          -webkit-transform: rotate(-12deg);
              -ms-transform: rotate(-12deg);
                  transform: rotate(-12deg); }
        .about__item_full .about__subtitle:after {
          right: 50%;
          margin-right: -119px;
          background-color: #0d87f3;
          -webkit-transform: rotate(12deg);
              -ms-transform: rotate(12deg);
                  transform: rotate(12deg); }
  .about__img {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0; }
  .about__subtitle, .about__text {
    position: relative;
    z-index: 2; }
  .about__subtitle {
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 90px; }
  .about__text {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    margin-top: 30px;
    position: relative; }
    .about__text .icon {
      position: absolute; }
      .about__text .icon-crest {
        bottom: -28px;
        right: 55px; }
      .about__text .icon-heart {
        bottom: -45px;
        right: 15px; }

.top5 {
  margin-top: 115px;
  min-height: 650px;
  background: url("../../img/bg/top5.png") no-repeat center top; }
  .top5__wrap {
    margin-left: 215px;
    padding-top: 15px; }
  .top5__title, .top5__desc {
    font-size: 36px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 300; }
  .top5__title {
    display: none; }
  .top5__imgs {
    font-size: 0; }
    .top5__imgs-item {
      display: inline-block;
      vertical-align: middle; }
  .top5__button {
    font-size: 30px; }
    .top5__button span {
      padding: 14px 35px 12px; }
    .top5__button-desc {
      font-size: 19px;
      font-weight: 700;
      margin-top: 15px;
      margin-left: 18px; }

.shares {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center; }
  .shares__title {
    margin-bottom: 77px; }
  .shares__list {
    margin-left: -15px;
    margin-right: -15px; }
  .shares__item {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 90px; }
    .shares__item:nth-of-type(1), .shares__item:nth-of-type(2) {
      width: 50%; }
      .shares__item:nth-of-type(1) .shares__subtitle, .shares__item:nth-of-type(2) .shares__subtitle {
        font-size: 30px;
        height: 100px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto; }
  .shares__img img {
    max-width: 100%; }
  .shares__subtitle {
    text-transform: uppercase;
    font-weight: 700;
    height: 50px; }
  .shares__button {
    margin-top: -15px; }
    .shares__button span {
      padding-left: 45px;
      padding-right: 45px; }

.say-no {
  background-color: #e5e5e5;
  padding-top: 62px;
  padding-bottom: 68px; }
  .say-no__title {
    font-size: 36px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px; }
    .say-no__title span {
      color: #1991d7; }
  .say-no__imgs {
    font-size: 0;
    text-align: center; }
    .say-no__imgs-item {
      display: inline-block;
      vertical-align: middle; }
      .say-no__imgs-item:nth-of-type(2) {
        margin-left: -180px; }
  .say-no__quote {
    font-size: 30px;
    font-style: italic;
    line-height: 40px;
    margin-top: 58px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto; }

.we {
  padding-top: 68px;
  padding-bottom: 110px;
  background: url("../../img/bg/we.png") no-repeat center 250px;
  overflow: hidden;
  color: white; }
  .we .container:before {
    content: '';
    position: absolute;
    left: 0;
    top: -16px;
    background: url("../../img/bg/zibra.png");
    width: 1455px;
    height: 774px; }
  .we__title {
    color: #02015a;
    margin-left: 85px;
    max-width: 480px;
    text-align: left;
    margin-bottom: 39px; }
  .we__list {
    position: relative;
    padding-left: 100px; }
  .we__item:nth-of-type(1) {
    padding-top: 40px;
    margin-bottom: 60px; }
    .we__item:nth-of-type(1) .we__subtitle {
      padding-top: 25px;
      max-width: 360px; }
    .we__item:nth-of-type(1) .we__text {
      max-width: 400px; }
  .we__item:nth-of-type(2) {
    margin-bottom: 60px; }
    .we__item:nth-of-type(2) .we__subtitle {
      padding-top: 55px;
      max-width: 425px; }
  .we__item:nth-of-type(3) {
    margin-bottom: 17px; }
    .we__item:nth-of-type(3) .we__subtitle {
      padding-top: 70px; }
  .we__item:nth-of-type(4) .we__subtitle {
    padding-top: 50px; }
  .we__item:nth-of-type(3), .we__item:nth-of-type(4) {
    color: #02015a; }
  .we__img {
    width: 305px; }
  .we__content {
    width: 730px; }
  .we__subtitle {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase; }

.photos {
  text-align: center;
  padding-bottom: 74px; }
  .photos__title {
    color: white;
    font-weight: 900;
    text-align: center;
    background-color: #ff425c;
    padding-top: 30px;
    padding-bottom: 26px;
    margin-bottom: 80px; }
  .photos__subtitle {
    font-size: 30px;
    font-weight: 700;
    height: 60px;
    text-transform: uppercase; }
  .photos__list {
    margin-left: -15px;
    margin-right: -15px; }
  .photos__item {
    width: 33.3333%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 75px; }
  .photos__img {
    max-width: 100%; }
  .photos__button span {
    padding-left: 50px;
    padding-right: 50px; }
  .photos__button-desc {
    margin-top: 20px; }

.advantages {
  background: url("../../img/bg/advantages.png") no-repeat center top;
  padding-top: 122px;
  padding-bottom: 85px;
  text-align: center; }
  .advantages__wrap {
    z-index: 2;
    position: relative;
    color: #112433;
    background: url("../../img/bg/border.png") no-repeat right top;
    margin-right: -15px;
    color: #112433;
    padding-top: 125px;
    min-height: 600px; }
  .advantages__title {
    color: #112433;
    max-width: 670px;
    margin-left: auto;
    margin-right: 96px; }
  .advantages__tags {
    font-size: 22px;
    line-height: 33px;
    margin-left: auto;
    width: 200px;
    margin-right: 250px;
    font-weight: 700; }
  .advantages__boy {
    position: absolute;
    top: 272px;
    left: 450px; }
  .advantages__list {
    margin-bottom: 45px; }
  .advantages__col {
    width: 25%;
    color: white;
    padding-left: 15px;
    padding-right: 15px; }
    .advantages__col:nth-of-type(1) .advantages__item {
      top: -48px;
      padding-top: 82px;
      background-color: #635f5a; }
    .advantages__col:nth-of-type(2) .advantages__item {
      top: -66px;
      padding-top: 41px;
      background-color: #748272; }
    .advantages__col:nth-of-type(2) .advantages__subtitle {
      z-index: 3;
      position: relative; }
    .advantages__col:nth-of-type(3) .advantages__item {
      padding-top: 40px;
      background-color: #112433; }
    .advantages__col:nth-of-type(4) .advantages__item {
      top: -48px;
      position: relative;
      z-index: 3;
      padding-top: 72px;
      background-color: #d49a77; }
  .advantages__list {
    margin-left: -15px;
    margin-right: -30px; }
  .advantages__item {
    position: relative;
    min-height: 285px;
    padding-left: 20px;
    padding-right: 20px; }
  .advantages__subtitle {
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    max-width: 220px;
    margin-left: auto;
    margin-right: auto; }
  .advantages__button span {
    font-size: 30px;
    padding: 14px 40px 12px; }
  .advantages__button-desc {
    margin-top: 17px;
    font-weight: 700; }

.reviews {
  padding-top: 25px;
  padding-bottom: 70px;
  background: url("../../img/bg/rectangle.png") no-repeat center top;
  text-align: center; }
  .reviews__title {
    text-align: left;
    margin-left: 38px; }
  .reviews__list:before {
    display: block;
    content: '';
    width: 171px;
    height: 111px;
    margin-left: auto;
    margin-right: 85px;
    background: url("../../img/bg/likes.png") no-repeat center; }
  .reviews__col {
    width: 50%; }
    .reviews__col:nth-of-type(1) {
      padding-right: 15px; }
    .reviews__col:nth-of-type(2) {
      padding-left: 15px; }
  .reviews__img img {
    max-width: 100%; }
  .reviews__desc {
    font-size: 36px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 300;
    color: #0d5fd7;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 42px; }
    .reviews__desc strong {
      font-weight: 400; }
  .reviews__button-desc {
    margin-top: 20px; }

.camera {
  color: white;
  padding-top: 90px;
  background: url("../../img/bg/camera.png") no-repeat center top;
  text-align: center; }
  .camera .container {
    padding-bottom: 52px; }
  .camera__title {
    color: white;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px; }
  .camera__desc {
    font-size: 30px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 930px;
    margin-left: auto;
    margin-right: auto; }
    .camera__desc span {
      color: #6fecf7; }
  .camera__text {
    border: 1px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: 700;
    padding: 50px 90px;
    width: 515px;
    line-height: 30px;
    margin-left: 155px;
    margin-top: 75px;
    margin-bottom: 100px; }
    .camera__text span {
      color: #6fecf7; }
  .camera__button {
    font-size: 30px; }
    .camera__button-desc {
      font-size: 19px;
      font-weight: 700;
      margin-top: 17px; }
  .camera__phone {
    position: absolute;
    right: 0;
    bottom: 0; }

.instagram {
  padding-top: 115px;
  padding-bottom: 90px;
  background-color: #e5e5e5; }
  .instagram__img {
    width: 420px;
    margin-right: 60px; }
    .instagram__img img {
      margin-left: auto;
      margin-right: auto; }
  .instagram__content {
    width: 690px; }
  .instagram__quote {
    padding-top: 25px;
    font-size: 30px;
    line-height: 40px;
    font-style: italic;
    margin-bottom: 15px; }
  .instagram__persona {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px; }
  .instagram__tags {
    font-size: 30px;
    line-height: 40px;
    color: #00a3fe;
    font-weight: 700;
    margin-bottom: 15px; }
  .instagram__desc {
    font-size: 18px; }

.videos {
  padding-top: 72px;
  padding-bottom: 70px;
  text-align: center; }
  .videos__title {
    margin-bottom: 40px; }
  .videos__item {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0;
    margin-bottom: 80px; }
    .videos__item:nth-of-type(1), .videos__item:nth-of-type(2) {
      width: 50%; }
      .videos__item:nth-of-type(1) iframe, .videos__item:nth-of-type(2) iframe {
        width: 100%;
        height: 330px; }
  .videos iframe {
    width: 100%;
    height: 185px; }
  .videos__button {
    margin-top: -10px; }
    .videos__button span {
      padding-left: 45px;
      padding-right: 45px; }

.page__title {
  padding-top: 60px;
  padding-bottom: 75px; }
  .page__title.title_red {
    color: #db0133; }

.page__wrap {
  padding-bottom: 90px; }

.shares-page__item {
  margin-bottom: 60px; }
  .shares-page__item:last-of-type {
    margin-bottom: 0; }

.shares-page__title {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px; }

.shares-page__img {
  margin-bottom: 30px; }
  .shares-page__img img {
    max-width: 100%; }

.shares-page__text {
  margin-bottom: 30px; }

.shares-page__button span {
  padding-left: 42px;
  padding-right: 42px; }

.tickets__head {
  position: relative;
  z-index: 2;
  color: white;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  text-transform: uppercase;
  background-color: #db0133; }

.tickets__col {
  width: 32%;
  font-size: 30px;
  font-weight: 700;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: left; }
  .tickets__col:nth-of-type(1) {
    width: 36%;
    padding-left: 45px; }
  .tickets__col:nth-of-type(2) {
    text-align: center; }

.tickets__body {
  margin-top: -25px;
  -webkit-border-radius: 0 0 30px 30px;
          border-radius: 0 0 30px 30px;
  background-color: #ecf7fd;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 20px;
  padding-bottom: 60px; }

.tickets__table td {
  width: 32%; }
  .tickets__table td:nth-of-type(1) {
    width: 36%; }

.tickets__imgs td {
  padding-top: 25px;
  padding-bottom: 25px; }

.tickets__ticket td {
  padding-top: 20px;
  padding-bottom: 20px; }
  .tickets__ticket td:nth-of-type(1) span {
    display: block;
    max-width: 340px; }

.tickets__ticket p {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase; }

.tickets__total td {
  padding-top: 30px;
  padding-bottom: 50px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: #db0133; }

.tickets__button span {
  padding-left: 40px;
  padding-right: 40px; }

.tickets__button-wrap {
  text-align: center; }

.tickets__button-desc {
  margin-top: 15px; }

.price {
  width: 195px;
  margin-left: auto;
  margin-right: auto; }
  .price__count, .price__increment {
    display: inline-block;
    vertical-align: middle; }
  .price__count {
    width: 105px; }

.increment {
  border: 1px solid #c5c5c5;
  text-align: center;
  font-size: 0; }
  .increment__button, .increment__input {
    display: inline-block;
    vertical-align: top;
    width: 28px;
    height: 25px;
    line-height: 26px;
    background: white; }
  .increment__button {
    font-size: 13px;
    -webkit-transition: .3s;
    transition: .3s; }
    .increment__button:hover {
      color: white;
      background-color: #db0133;
      cursor: pointer; }
  .increment__input {
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5; }
    .increment__input input {
      display: block;
      width: 100%;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      line-height: 25px;
      color: #db0133;
      outline: none; }

.videos-page {
  text-align: center; }
  .videos-page__list {
    margin-left: -15px;
    margin-right: -15px; }
  .videos-page__item {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    width: 50%; }
  .videos-page iframe {
    width: 100%;
    height: 320px; }
  .videos-page__button {
    margin-top: 60px; }
    .videos-page__button span {
      padding-left: 83px;
      padding-right: 83px; }

.feedback__title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 55px; }

.feedback__line {
  margin-bottom: 5px; }
  .feedback__line_mt {
    margin-top: 15px; }

.feedback__label, .feedback__input {
  display: inline-block;
  vertical-align: middle; }

.feedback__label {
  width: 250px;
  font-size: 36px;
  font-weight: 700; }

.feedback__textarea {
  vertical-align: top;
  resize: none;
  height: 100px; }

.feedback__input, .feedback__textarea {
  border: 1px solid #a9a9a9;
  width: 380px;
  padding: 8px 10px;
  font-family: "TT Pines", sans-serif;
  font-size: 16px; }

.feedback__button {
  margin-left: 250px;
  margin-top: 30px; }
  .feedback__button span {
    padding-left: 45px;
    padding-right: 45px; }

.vat {
  vertical-align: top; }

.footer {
  padding-top: 70px;
  padding-bottom: 370px;
  color: white;
  background: url("../../img/bg/footer.png") no-repeat center top; }
  .footer__title {
    color: white;
    margin-bottom: 42px; }
  .footer__address {
    width: 50%; }
    .footer__address:nth-of-type(1) {
      padding-right: 15px; }
    .footer__address:nth-of-type(2) {
      padding-left: 15px; }
  .footer__metro {
    font-size: 0;
    margin-bottom: 25px; }
    .footer__metro .icon {
      -webkit-transform: scale(1.3);
          -ms-transform: scale(1.3);
              transform: scale(1.3); }
    .footer__metro span {
      font-size: 24px;
      vertical-align: middle;
      margin-left: 10px;
      font-weight: 700; }
  .footer__map {
    margin-bottom: 30px; }
  .footer__text {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700; }
    .footer__text p:nth-of-type(1) {
      font-size: 28px; }
  .footer__metro, .footer__text, .footer__socials {
    margin-left: 55px; }
  .footer__wrap {
    padding-top: 30px; }
  .footer__socials {
    padding-top: 45px;
    width: 280px;
    margin-right: 10px; }
    .footer__socials p {
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: 700; }
    .footer__socials li {
      margin-right: 14px; }
      .footer__socials li:last-of-type {
        margin-right: 0; }
    .footer__socials a {
      display: block; }
      .footer__socials a:hover {
        -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
                transform: scale(0.8); }
  .footer__logo {
    margin-right: 195px; }
  .footer__button {
    margin-top: 35px; }
  .footer__phone {
    float: right;
    margin-top: 52px;
    font-size: 24px;
    font-weight: 700; }
    .footer__phone a {
      color: white; }
